.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Shared style */
body {
    background: #F5F5F5;
    /* margin: 0px 185px 0px 185px; */
}

header,
main {
    margin: 0px 185px 0px 185px;
}

.secondary-bg {
    background: #C6E4D6;
}

h2 {
    color: #0E0E0E;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header {
    margin-bottom: 80px;
}

/* nav style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
}

nav h3 {
    color: #0E0E0E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

nav button {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    border: 1px solid #006A50;
    margin-right: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #006A50;
}
nav button:hover {
    color: #000;
    background: #09A15C;
    cursor: pointer;
}
/* banner style */
.banner {
    display: flex;
    width: 1280px;
    padding: 80px 100px;
    justify-content: center;
    align-items: center;
    gap: 64px;

    border-radius: 24px;
}

.banner-sub-title {
    color: rgba(14, 14, 14, 0.50);
    font-family: "Fira Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.banner-title {
    width: 620px;
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.btn-banner {
    border-radius: 8px;
    background: #006A50;
    display: flex;
    padding: 17px 34px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.btn-banner:hover {
    background: #0d2514;
}

/* section 1 style*/
.section-1 {
    margin-bottom: 80px;
}

.sec-1-para {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.section-1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 32px 0px;
}

.sec-1-element {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}

.icon {
    width: 64px;
    height: 64px;
}

.s1-e-title {
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

.s1-e-para {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
}

/* first element */
.s1-bg1 {
    border-radius: 16px;
    border: 0px solid #5490F5;
    background: rgba(84, 144, 245, 0.20);
}

.s1-e-btn1 {
    border-radius: 8px;
    background: #5490F5;
    display: flex;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.s1-e-btn1:hover {
    background: #2854a0;
    color: #000;
    cursor: pointer;
}

/* 2nd element */
.s1-bg2 {
    border-radius: 16px;
    border: 0px solid #09A15C;
    background: #C6E4D6;
}

.s1-e-btn2 {
    border-radius: 8px;
    background: #09A15C;
    display: flex;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.s1-e-btn2:hover {
    background: #07683c;
    color: #000;
    cursor: pointer;
}

/* 3rd element */
.s1-bg3 {
    border-radius: 16px;
    border: 0px solid #FFC239;
    background: #F7EBCF;
}

.s1-e-btn3 {
    border-radius: 8px;
    background: #FFC239;
    display: flex;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.s1-e-btn3:hover {
    background: #c09225;
    color: #000;
    cursor: pointer;
}

/* qoutes style */
.qoutes {

    background: #FFF;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 2% 8%;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 24px; */
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);

}

.para-qoutes {
    color: rgba(14, 14, 14, 0.80);
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.qoutes h3 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 24px; */
    margin-bottom: 0px;
}

.qoutes h4 {
    color: rgba(14, 14, 14, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 24px; */
}

/* section 2 style */
.section-2 {
    margin-bottom: 80px;
}

.news-card-container {
    display: flex;
    padding: 48px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-radius: 24px;
    background: #FFF;
}

.newsholder {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.news-img {
    border-radius: 24px;
}

.news-content h3 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

.channel-logo {
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}

.date-time {
    display: flex;
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    gap: 12px;
    margin-bottom: 0px;
}

.news-content p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 32px;
}

.btn-read {
    display: flex;
    padding: 13px 26px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    background: #006A50;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.btn-read:hover {
    background: #489e90;
    color: #000;
}

/* Donate style */
.donation {
    display: flex;
    width: 1280px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.donate-para {
    width: 1104px;
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.donate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-btn-holder {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.donate-btn {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    color: rgba(14, 14, 14, 0.80);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.donate-btn:hover {
    background: #C6E4D6;
    color: #000;
    cursor: pointer;
}

.donate-btn-bg {
    background: #C6E4D6
}

.custom-amount {
    text-align: center;
    width: 1032px;
    padding: 20px 40px;
    gap: 24px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    color: rgba(14, 14, 14, 0.30);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border: none;
    margin-bottom: 32px;
}

.submit-btn {
    padding: 17px 34px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid rgba(14, 14, 14, 0.10);
    background: #006A50;
    margin-bottom: 80px;
}

.submit-btn:hover {
    background: #489e90;
    color: #000;
    cursor: pointer;
}

/* newsletter style */
.newsletter {
    display: flex;
    flex-direction: column;
    width: 1280px;
    padding: 80px 100px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #C6E4D6;
    /* margin-bottom: 80px; */
}

.newsletter p {
    width: 630px;
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.newsletter-form {
    display: flex;

}

.email-input {
    width: 600px;
    padding: 18px 40px;
    border-radius: 8px 0px 0px 8px;
    background: #FFF;
    color: rgba(14, 14, 14, 0.30);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.subscribe-btn {
    padding: 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background: #006A50;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.subscribe-btn:hover {
    background: #489e90;
    color: #000;
    cursor: pointer;
}

/* footer style */
footer {
    display: flex;
    padding: 50px 160px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    align-self: stretch;
    background: #FFF;
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}

footer hr {
    width: 1122px;
    height: 1px;
}

.social-icons {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 24px;
    height: 24px;
}